/*------------------------
Framework
------------------------*/
.d-none {display: none;}
.d-in-block {display: inline-block;}
.d-flex {display: flex;}
.flex-column {flex-direction: column;}

.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.justify-end {justify-content: flex-end;}

.align-center {align-items: center;}
.align-end {align-items: flex-end;}
.align-start {align-items: flex-start;}

.w-100 {width: 100%;}

.text-white {color: #fff;}

.text-left {text-align: left;}