/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-brazil {
  background-image: url(../images/icons/spritesheet.png);
  background-position: -655px -1084px;
  width: 44px;
  height: 23px;
}
.icon-linhas-brancas {
  background-image: url(../images/icons/spritesheet.png);
  background-position: 0px 0px;
  width: 1920px;
  height: 540px;
}
.icon-linhas-dourado {
  background-image: url(../images/icons/spritesheet.png);
  background-position: 0px -542px;
  width: 1920px;
  height: 540px;
}
.icon-pedra {
  background-image: url(../images/icons/spritesheet.png);
  background-position: 0px -1084px;
  width: 653px;
  height: 153px;
}
.icon-produto {
  background-image: url(../images/icons/spritesheet.png);
  background-position: 0px -1239px;
  width: 213px;
  height: 210px;
}
.icon-usa {
  background-image: url(../images/icons/spritesheet.png);
  background-position: -701px -1084px;
  width: 44px;
  height: 23px;
}
.webp .icon-brazil { background-image: url(../images/icons/spritesheet.webp); }
.webp .icon-linhas-brancas { background-image: url(../images/icons/spritesheet.webp); }
.webp .icon-linhas-dourado { background-image: url(../images/icons/spritesheet.webp); }
.webp .icon-pedra { background-image: url(../images/icons/spritesheet.webp); }
.webp .icon-produto { background-image: url(../images/icons/spritesheet.webp); }
.webp .icon-usa { background-image: url(../images/icons/spritesheet.webp); }
