.svg-logo_branco {
	background: url("svg/sprite.css-29538ab8.svg") 81.48245498751479% 27.442611004112226% no-repeat;
}

.svg-logo_branco-dims {
	width: 312.01px;
	height: 105.67px;
}

.svg-logo_dourado {
	background: url("svg/sprite.css-29538ab8.svg") 99.99853374583951% 0 no-repeat;
}

.svg-logo_dourado-dims {
	width: 466.99px;
	height: 158.16px;
}

.svg-whatsapp {
	background: url("svg/sprite.css-29538ab8.svg") 0 0 no-repeat;
}

.svg-whatsapp-dims {
	width: 682px;
	height: 682px;
}

