/*------------------------
Fontes e Cores
------------------------*/
@font-face {
    font-family: 'Amalfi';
    src: url(../fonts/Amalfi-Coast.ttf);
}
@font-face {
    font-family: 'Karibu';
    src: url(../fonts/Karibu-Book.ttf);
}
@font-face {
    font-family: 'Karibu Bold';
    src: url(../fonts/Karibu-Bold.ttf);
}
@font-face {
    font-family: 'Karibu Condensed';
    src: url(../fonts/KaribuCondensed-Thin.ttf);
}
@font-face {
    font-family: 'Karibu Thin';
    src: url(../fonts/Karibu-Thin.ttf);
}
@font-face {
    font-family: 'Karibu Light';
    src: url(../fonts/Karibu-Light.ttf);
}

// Root
:root {
    --clr-primary: #cd9832;
    --clr-secondary: #4a3c7b;
    --clr-paragraph: #6a6a6a;

    --clr-footer: #413874;

    --font-body: 'Karibu', sans-serif;
    --font-title: 'Amalfi', sans-serif;
    --font-paragraph: 'Karibu', sans-serif;
}

/*------------------------
Animacoes
------------------------*/
@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }   
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}